<ActionBar title="Map">
  <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<AbsoluteLayout width="100%" height="100%">
  <DockLayout style.backgroundColor="white" stretchLastChild="false" width="100%" height="100%" left="0" top="0">
    <GridLayout dock="top" height="90%">
      <MapView (mapReady)="onMapReady($event)" (markerSelect)="onMarkerSelect($event)" ></MapView>
    </GridLayout>

    <StackLayout dock="bottom" height="10%" orientation="horizontal" class="navigationBar">
      <navigation-bar (toggleTheMenu)="toogleMenu($event)"></navigation-bar>
    </StackLayout>
  </DockLayout>

  <StackLayout height="90%" width="100%" left="0" top="0" class="transparent" [visibility]="enableFloatingMenu">
    <floating-menu (disableMenuContainer)="disableMenuContainer($event)"></floating-menu>
  </StackLayout>
</AbsoluteLayout>