###############
# Directories #
###############
node_modules/
platforms/

###############
# Types of files #
###############
app/main.js
app/main.js.map
app/app.module.js
app/app.module.js.map
app/app.routing.js
app/app.routing.js.map
app/app.component.js
app/app.component.js.map
app/auth-guard.service.js
app/auth-guard.service.js.map
app/components/**/*.js
app/components/**/*.js.map
app/models/**/*.js
app/models/**/*.js.map
app/pages/**/*.js
app/pages/**/*.js.map
app/services/**/*.js
app/services/**/*.js.map