<StackLayout orientation="vertical" height="100%" width="{{navBarSectionWidth}}" [nsRouterLink]="['/home']" pageTransition="none">
  <Image src="res://home" class="nav-bar-icon" verticalAlignment="center" horizontalAlignment="center"></Image> 
</StackLayout>

<StackLayout orientation="vertical" height="100%" width="{{navBarSectionWidth}}">
  <Image src="res://camera" class="nav-bar-icon" verticalAlignment="center" horizontalAlignment="center"></Image> 
</StackLayout>

<StackLayout orientation="vertical" height="100%" width="{{navBarSectionWidth}}" [nsRouterLink]="['/google-map']" pageTransition="none">
  <Image src="res://gps" class="nav-bar-icon" verticalAlignment="center" horizontalAlignment="center"></Image> 
</StackLayout>