#menuBackground{
  background-color: rgba(0, 0, 0, 0.0);
}

.optionsContainer{
  padding-right: 20;
  width: 100%;
}

.menuOption{
  horizontal-align: right;
  font-size: 20;
  color: #222222;
  background-color: #00eebc;
  width: 100%;
  height: 45;
  margin-top: 30;
  border-radius: 20;
}

.menuIcon{
  width: 30%;
  height: 100%;
}

.menuText{
  width: 70%;
}

.lastOption{
  margin-bottom: 25;
}