<ActionBar title="Memories">
  <NavigationButton text="Go Back" icon="res://back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<AbsoluteLayout width="100%" height="100%" class="transparent">
  <WrapLayout [visibility]="pageContent" orientation="horizontal" left="0" top="0" class="wrapper">
    <StackLayout *ngFor="let memory of _memories" [width]="thumbnailSize" [height]="thumbnailSize" class="thumbnail">
      <Image [src]="memory.image"  stretch="aspectFill" width="100%" height="100%" (tap)="onMemorySelect(memory)">
      </Image>
    </StackLayout>
  </WrapLayout> 

  <ActivityIndicator busy={{isDataLoading}} height="50" width="50" color="#00eebc" left="{{(screenWidth / 2) - 25}}" top="{{(screenHeight /2 ) - 25}}">
  </ActivityIndicator>
</AbsoluteLayout>