.chat-container{
  padding-left: 15;
  padding-right: 15;
}

.element-container{
  margin-top: 10;
  margin-bottom: 10;
  width: 100%;
  height: auto;
}

.element-right{
  padding-left: 30;
}

.element-left{
  padding-right: 30; 
}

.message-container{
  padding: 10;
  border-radius: 10;
  height: auto;
  width: auto;
}

.message-right{
  background-color: #00eebc;
  horizontal-align: right;
}

.message-left{
  background-color: #ffffff;
  horizontal-align: left;
}

.text{
  font-size: 18;
  color: #222222;
  width: auto;
}

.user-name-last{
  font-size: 12;
  color: #ffffff;
  margin-bottom: 4;
}

.input-container{
  padding: 10;
}

.input{
  background-color: #ffffff;
  placeholder-color: #444444;
  border-radius: 5;
  border-width: 0;
  color: #222222;
  margin: 0;
  min-height: 45;
  font-size: 18;
}
.button-circle{
  clip-path: circle(100% at 50% 50%);
  background-color: #009E7B;
  padding: 5;
  margin: 0;
}