<ActionBar title="Chat">
  <NavigationButton text="Go Back" icon="res://back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<DockLayout width="100%" height="100%" class="transparent" stretchLastChild="false">
  <StackLayout dock="bottom" orientation="vertical" width="100%" height="auto" class="transparent">
    <DockLayout stretchLastChild="false" width="100%" minHeight="55"
      height="auto" class="transparent input-container">
      <StackLayout dock="right" width="70" height="auto" class="transparent">
        <StackLayout width="auto" height="45" class="button-circle" (tap)="sendMessage()">
          <Image src="res://sendicon" height="100%"></Image>
        </StackLayout>
      </StackLayout>
      <StackLayout dock="left" width="100%" height="auto" class="transparent">
        <TextView id="textImput" [(ngModel)]="formModel.text" width="100%"
          height="auto" hint="Type Something" class="input"></TextView>
      </StackLayout>
    </DockLayout>
    <StackLayout width="100%" [height]="keyboardGap" class="transparent"></StackLayout>
  </StackLayout>

  <ScrollView id="scroll" orientation="vertical" dock="top" width="100%" height="100%" class="transparent">
    <StackLayout id="chatContainer" orientation="vertical" width="100%" height="auto"
      class="transparent chat-container">
      <StackLayout *ngFor="let message of chatData.messages" 
        [ngClass]="{'transparent element-container':true, 'element-left': currentUserId !== message.user_id, 'element-right': currentUserId === message.user_id}">
        <StackLayout [ngClass]="{'message-container':true, 'message-left': currentUserId !== message.user_id, 'message-right': currentUserId === message.user_id}">
          <Label class="text" textWrap="true" [text]="message.content"> 
          </Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</DockLayout>