<ActionBar title="Chat">
  <NavigationButton text="Go Back" icon="res://back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView orientation="vertical" width="100%" height="100%" class="transparent">
  <StackLayout orientation="vertical" width="100%" height="auto" class="transparent chat-container">
    <StackLayout class="transparent element-container element-right">
      <StackLayout class="message-container message-right">
        <Label class="text" textWrap="true" text="Hello world"> 
        </Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="transparent element-container element-left">
      <StackLayout class="message-container message-left">
        <Label class="text" textWrap="true" text="Error: The existing NativeScript extension is compatible with NativeScript CLI v2.5.0 or greater. The currently installed NativeScript CLI is v2.4.0.">
        </Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="transparent element-container element-right">
      <StackLayout class="message-container message-right">
        <Label class="text" textWrap="true" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."> 
        </Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="transparent element-container element-left">
      <StackLayout class="message-container message-left">
        <Label class="text" textWrap="true" text="Error: The existing NativeScript extension is compatible with NativeScript CLI v2.5.0 or greater. The currently installed NativeScript CLI is v2.4.0.">
        </Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="transparent element-container element-right">
      <StackLayout class="message-container message-right">
        <Label class="text" textWrap="true" text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"> 
        </Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="transparent element-container element-left">
      <StackLayout class="message-container message-left">
        <Label class="text" textWrap="true" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."> 
        </Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>