<ActionBar title="Search friends">
  <NavigationButton text="Go Back" icon="res://back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout class="stack">
  <SearchBar 
    backgroundColor="#00eebc" textFieldHintColor="#222222" hint="Search by username or email" width="100%" height="50"
    [(ngModel)]="searchValue" (ngModelChange)="onSearchValueChange($event)" (submit)="searchSubmit($event)" (clear)="searchClear($event)">
  </SearchBar>
  <ListView [items]="searchResults" *ngIf="searchResults.length > 0" height="100%">
    <template let-item="item">
      <StackLayout orientation="horizontal" width="100%" height="80" class="stack item" (tap)="processFriendship(item)">
        <Image src="{{item.avatar}}" class="avatar"></Image>
        <StackLayout class="stack">
          <Label text="{{item.first_name + ' ' +item.last_name}}" class="medium text"></Label>
          <Label [text]="item.friendship_status" class="small text"></Label>
        </StackLayout>
      </StackLayout>
    </template>
  </ListView>
</StackLayout>
