<ActionBar title="GoPost">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem (tap)="openSettings()" ios.position="right"
    text="Settings" android.position="actionBarIfRoom" icon="res://settings">
  </ActionItem> 
</ActionBar>
<StackLayout class="lightGrayStack">
  <Button text="Home" [nsRouterLink]="['/home']" pageTransition="none"></Button>
  <Button text="My Friends" [nsRouterLink]="['/friend-list']" pageTransition="none"></Button>
  <Button text="Notifications" [nsRouterLink]="['/notifications']" pageTransition="none"></Button>
  <Button text="See map" [nsRouterLink]="['/google-map']" pageTransition="none"></Button>
  <Button text="Log out" (tap)="logOut()"></Button>
</StackLayout>