.label-caption{
  padding-top: 10;
  padding-bottom: 10;
}

.post-icon{
  margin-top: 25%;
  height: 50%;
}

.bar{
  background-color: rgba(34, 34, 34, 0.5);
}

#postImage{
  animation-name: opacity;
  animation-duration: 1.5;
}